---
import styles from './TrackRecord.module.css';
---
<ul class={styles.track}>
  <li class={styles.line}>
    <span class={styles.year}>2025</span>
    <span class={styles.text}>Lideré diseño de producto en Librodepases. Plataforma AI para fútbol.</span>
  </li>
  <li class={styles.line}>
    <span class={styles.year}>2024</span>
    <span class={styles.text}>Co-fundé Arenga Studio. Diseñamos y construimos productos digitales.</span>
  </li>
  <li class={styles.line}>
    <span class={styles.year}>2022</span>
    <span class={styles.text}>Formé parte del equipo de diseño en Librodepases, co-diseñando su nueva plataforma enfocada en datos e IA.</span>
  </li>
  <li class={styles.line}>
    <span class={styles.year}>2017</span>
    <span class={styles.text}>Empecé diseñando en Entre Ríos. Así conocí el diseño gráfico.</span>
  </li>
</ul>
